<app-header></app-header>
<div class="body-parent">
    <mat-tab-group dynamicHeight class="container" mat-stretch-tabs mat-align-tabs="center">
        <mat-tab label="Sección de personajes">
            <div class="example-large-box mat-elevation-z4">
                <app-personajes></app-personajes>
            </div>
        </mat-tab>
        <mat-tab label="Sección de estudiantes">
            <div class="example-large-box mat-elevation-z4">
                <app-estudiantes></app-estudiantes>
            </div>
        </mat-tab>
        <mat-tab label="Solicitud de nuevo Estudiante">
            <div class="example-large-box mat-elevation-z4">
                <app-nuevoEstudiante></app-nuevoEstudiante>
            </div>
        </mat-tab>
        <mat-tab label="Sección de profesores">
            <div class="example-large-box mat-elevation-z4">
                <app-profesores></app-profesores>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>